/* GENERAL */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.clearfix::after{
  content: '';
  display: table;
  clear: both;
}

body{
  margin: 20px 10%;
}

/* HEADER */

header{
  width: 100%;
}

header.top{
  height: 95px;
  background-color: #e579e6;
}
