/* GENERAL */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.clearfix::after{
  content: '';
  display: table;
  clear: both;
}

body{
  margin: 30px 10%;
}

header, .jumbotron, .container, footer{
  width: 100%;
}

header, .jumbotron{
  margin-bottom: 30px;
}

/* HEADER */

body > header:first-child{
  height: 175px;
  background-color: #e579e6;
}

/* MAIN */

.jumbotron{
  height: 610px;
  background-color: #e1d67a;
}

.container{
  background-color: #0485fb;
  padding-bottom: 30px;
}

.container > header, .container > aside, .container > section{
  background-color: #abcfe7;
}

.container > header{
  height: 110px;
}

.container aside, .container section{
  height: 655px;
}

.container > aside{
  width: 29%;
}

.container > section{
  float: left;
  width: 39%;
}

.left{
  float: left;
  margin-right: 1.5%;
}

.right{
  float: right;
}